body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url('assets/iteration-1/home-banner.png');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.logo {
  margin: 50px auto 10px;
}

.header-h2 {
  margin: 5px;
}


.firsat {
  font-family: Satisfy;
  color: #FDC913;
  font-size: 30px;
  margin-bottom: 0px;
}
.overlay-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-h2 {
  font-size: 85px;
  color: #FAF7F2;
  font-family: "Roboto Condensed";
  font-weight: 300;
  text-align: center;
  margin-bottom: 0 auto;
}

header button {
  border-radius: 40px;
  border: none;
  padding: 15px 60px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Barlow";
  background-color: #FDC913;
  cursor: pointer;
  margin-top: 10px;
}

.secenekler nav {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  gap: 50px;
  margin: 15px auto;
}

a {
  gap: 10px;
  text-decoration: none;
  text-align: center;
  font-family: "Barlow";
  font-weight: 420;
  font-size: 20px;
  color: black;
}

.main {
  background-color: #FAF7F2;
}

.uclu-blok {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-block {
  background-image: url('public/assets/iteration-2/cta/kart-1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 30px 250px 100px 30px;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-right: 10px;
}

.left-header {
  color: #FAF7F2;
  font-size: 70px;
  padding: 0 auto;
  margin: 0 auto;
  font-family: "Quattrocento";
}

.left-p {
  color: #FAF7F2;
  font-family: "Barlow";
  font-weight: 500;
  font-size: 20px;
}

.siparis-ver {
  background-color: #FAF7F2;
  border: none;
  border-radius: 50px;
  color: #CE2829;
  font-family: "Barlow";
  font-weight: 600;
  padding: 15px 30px;;
  cursor: pointer;
  font-size: 14px;
  margin: 0 150px 100px 0;
}

.right-first {
  background-image: url('public/assets/iteration-2/cta/kart-2.png');
  padding: 5px 300px 50px 30px;
  margin-top: 70px; 
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
  font-family: "Barlow";
  color: #FAF7F2;
  background-position: center;
  border-radius: 20px;
}

#right-first-header {
  font-size: 20px;
  font-family: "Barlow";
  color: #FAF7F2;
}

.right-second {
  background-image: url('public/assets/iteration-2/cta/kart-3.png');
  padding: 5px 100px 50px 30px;
  margin-top: 10px;
  margin-bottom: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

#right-second-header {
  font-size: 20px;
  font-family: "Barlow";
  color: #292929;
}

#en-cok {
  text-align: center;
  color: #CE2829;
  font-family: Satisfy;
  font-size: 30px;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 0;
}

#aciktiran-kodlar {
  text-align: center;
  font-family: Barlow;
  margin-top: 10px;
  font-size: 40px;
  font-weight: 600;
}

.second-menu {
  display: flex;
  gap: 20px;
  padding-bottom: 40px;
  justify-content: center;
}

.second-menu div {
  background-color: white;
  border-radius: 100px;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pizzalar {
  display: flex;
  flex-direction: row;
  padding: 100px;
  justify-content: center;
}